<h1>Авторизация</h1>
<form method="post">
    <label for="username">Логин:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Пароль:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Войти">
</form>