<h1>Прогнозирование цены</h1>
<form method="post">
    <label for="building_type">Тип дома:</label><br>
    <select id="building_type" name="building_type">
        <option value="0">Другой</option>
        <option value="1">Панельный</option>
        <option value="2">Монолитный</option>
        <option value="3">Кирпичный</option>
        <option value="4">Блочный</option>
        <option value="5">Деревянный</option>
    </select><br><br>

    <label for="level">Этаж квартиры (от 1 до 36):</label><br>
    <input type="number" id="level" name="level" min="1" max="36"><br><br>

    <label for="levels">Количество этажей в доме (от 1 до 39):</label><br>
    <input type="number" id="levels" name="levels" min="1" max="39"><br><br>

    <label for="rooms">Количество жилых комнат (от 0 до 9, 0 - студия):</label><br>
    <input type="number" id="rooms" name="rooms" min="0" max="9"><br><br>

    <label for="area">Жилая площадь, м2 (от 10 до 500):</label><br>
    <input type="number" id="area" name="area" min="10" max="500" step="0.01"><br><br>

    <label for="kitchen_area">Площадь кухни, м2 (от 2 до 50):</label><br>
    <input type="number" id="kitchen_area" name="kitchen_area" min="2" max="50" step="0.01"><br><br>

    <label for="object_type">Тип объекта:</label><br>
    <select id="object_type" name="object_type">
        <option value="1">Вторичный рынок</option>
        <option value="2">Новостройка</option>
    </select><br><br>

    <label for="kremlin_dist.km">Расстояние от Кремля, км (от 14.37 до 171.75):</label><br>
    <input type="number" id="kremlin_dist.km" name="kremlin_dist.km" min="14.37" max="171.75" step="0.01"><br><br>

    <label for="side">Район Москвы относительно центра:</label><br>
    <select id="side" name="side">
        <option value="1">Северо-восток</option>
        <option value="2">Северо-запад</option>
        <option value="3">Юго-запад</option>
        <option value="4">Юго-восток</option>
    </select><br><br>

    <label for="year">Год объявления (2018-2021):</label><br>
    <select id="year" name="year">
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
    </select><br><br>

    <label for="month">Месяц объявления:</label><br>
    <select id="month" name="month">
        <option value="1">Январь</option>
        <option value="2">Февраль</option>
        <option value="3">Март</option>
        <option value="4">Апрель</option>
        <option value="5">Май</option>
        <option value="6">Июнь</option>
        <option value="7">Июль</option>
        <option value="8">Август</option>
        <option value="9">Сентябрь</option>
        <option value="10">Октябрь</option>
        <option value="11">Ноябрь</option>
        <option value="12">Декабрь</option>
    </select><br><br>

    <input type="submit" value="Рассчитать">
</form>

{% if error_message %}
  <p style="color: red;">{{ error_message }}</p>
{% endif %}



<html>

<body>
    
    {% if error_message %}
      <p class="error">{{ error_message }}</p>
    {% endif %}
    <form method="post">
        <!-- ... (ваша существующая форма) ... -->
    </form>
    <a href="{{ url_for('prediction') }}"><button type="button">Новый прогноз</button></a> </body>
</html>